.collapse {
  cursor: pointer;
  margin-left: -4px;
  display: inline-block;
}

.collapse:hover {
  background-color: var(--highlight-color);
}

.collapse > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 2rem;
  font-style: normal;
  padding-left: 1rem;
  margin-left: 0.43rem;
  border-left: 1px solid var(--border-color);
}

.collapse > ul > li > .is_html {
  margin-left: 0;
}
