.log {
  font-size: .75rem;
  line-height: 1.5;
  display: inline-block;
}

.log + .log {
  margin-left: 0.5rem;
  vertical-align: top;
}

.log strong {
  font-weight: 600;
}

.collapse {
  cursor: pointer;
  margin-left: -4px;
  display: inline-block;
}

.collapse:hover {
  background-color: var(--highlight-color);
}

.collapse > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 2rem;
  font-style: normal;
  padding-left: 1rem;
  margin-left: 0.43rem;
  border-left: 1px solid var(--border-color);
}

.no_props,
.index_internal,
.is_promise > span,
.is_object > span {
  color: var(--color-muted);
}

.no_props {
  font-style: italic;
}

.collapse > svg {
  position: relative;
  top: 2px;
}

.index {
  vertical-align: top;
}

.index_internal {
  vertical-align: top;
}

.is_string {
  color: var(--color-ansi-green);
}

.is_undefined,
.is_null {
  color: var(--border-color);
}

.is_error {
  display: inline;
  white-space: pre;
}

.is_symbol {
  color: var(--color-ansi-cyan);
}

.is_boolean,
.is_number {
  color: var(--color-ansi-blue);
}

.is_function,
.is_set,
.is_map,
.is_object,
.is_array {
  font-style: italic;
}

.is_function {
  white-space: pre;
}

.is_function > span {
  color: var(--color-ansi-yellow);
}

.is_promise > span {
  font-style: italic;
}

.is_set > ul > li:last-child,
.is_map > ul > li:last-child,
.is_array > ul > li:last-child {
  opacity: .5;
}