.log {
  font-size: .75rem;
  display: inline-block;
}

.log + .log {
  margin-left: 0.5rem;
}

.log strong {
  font-weight: 600;
}

.collapse {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.collapse:hover {
  background-color: #2c313c;
}

.collapse > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 2rem;
  font-style: normal;
}

.collapse > svg {
  position: relative;
  top: 2px;
}

.is_string {
  color: #8cc265;
}

.index {
  vertical-align: top;
}

.is_undefined,
.is_null {
  color: var(--border-color);
}

.is_error {
  display: inline;
  white-space: pre;
}

.is_symbol {
  color: #42b3c2;
}

.is_boolean,
.is_number {
  color: #4aa5f0;
}

.is_function,
.is_set,
.is_map,
.is_object,
.is_array {
  font-style: italic;
}

.is_object > span {
  color: #6b717d;
}

.is_set > ul > li:last-child,
.is_map > ul > li:last-child,
.is_array > ul > li:last-child {
  opacity: .5;
}