.container {
  overflow: auto;
  height: calc(100vh - var(--toolbar-height));
}

.logs {
  margin: 0;
  list-style: none;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

.logs > li {
  padding: 0.25rem;
  border-bottom: 1px solid #2c313c;
  opacity: 0.75;
  display: block;
}

.logs > li.warn {
  color: #f0a45d;
}

.logs > li.error {
  color: #ff616e;
}

.icon {
  vertical-align: text-bottom;
  margin-right: 0.35rem;
  position: relative;
  bottom: 1px;
}